@page{margin:0px;}
	@font-face {
        font-family: "Open Sans";
        src: url('../fonts/opensans/121185303-OpenSans-Regular.eot');
        src: url('../fonts/opensans/121185303-OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/121185303-OpenSans-Regular.svg#Open Sans') format('svg'),
        url('../fonts/opensans/121185303-OpenSans-Regular.woff') format('woff'),
        url('../fonts/opensans/121185303-OpenSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    

*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body{background: #eee; color:#000;}
.Disc_report1{width: 784px; margin: 0 auto;background:#fff;	
/*background:url(../img/a4-2.png) #fff center top repeat-y;*/padding: 20px;  box-shadow: 0px 2px 4px 0px #333;}

body{margin: 0px;padding: 0px;font-family: "Open Sans" ,Verdana,arial;font-size: 12px; direction: ltr;}
.clr{clear:both;}

p,h1,h2,h3{padding:0px; margin:0px;}

/*
.logo img						{height: 70px;}
.companyInfo					{text-align: center; vertical-align:top}
.companyInfo span				{display: block; }
.companyInfo span.title			{font-size:20px;}



.lbltitle						{text-align: center;padding: 2px;font-size: 18px;}*/

.Investblock > .InvTitle{padding:0px; font-weight:bold; display:block; margin:0px;}
.Investblock > .InvNotes{padding:0px;display:block; margin:0px;}

.Investblock > .investigationtbl{width:100%; border-collapse:collapse;}
.Investblock > .investigationtbl > tbody > tr > td{padding:3px 5px;}
.Investblock > .investigationtbl > tbody > tr.InvestHeader{font-weight:bold;}
.Investblock > .investigationtbl > tbody > tr > td.InvestDt{padding-top:10px;}
.Investblock > .investigationtbl > tbody > tr > td.InvestName{text-decoration:underline; font-weight:bold;}

.MedicTitle{padding:0px; font-weight:bold; display:block; margin:0px; }
.MedicNotes{padding:0px;display:block; margin:0px;}

.medicationtbl{width:100%; border-collapse:collapse; border:1px solid #cacaca;}
.medicationtbl > tbody > tr > td{border-right:1px solid #cacaca; border-top:1px solid #cacaca;}
.medicationtbl > tbody > tr.MedicHeader{ font-weight:bold;}
.medicationtbl > tbody > tr > td.MedicDt{padding-top:10px;}
.medicationtbl > tbody > tr > td.MedicName{text-decoration:underline; font-weight:bold; }

.medicationtbl > tbody > tr > td.medic1{width:30px;}
.medicationtbl > tbody > tr > td.medic2{}
.medicationtbl > tbody > tr > td.medic3{text-align:right; }
.medicationtbl > tbody > tr > td.medic4{text-align:center; width:42px;}

.consultTitle{padding:0px; font-weight:bold; display:block; margin:0px;}
.consultNotes,.consultList{padding:0px;display:block; margin:0px;}

.consultList > div{}
.consultList > div > div.doclist{}
div.doccell{ padding:5px;font-weight:bold;border:0px solid #e1e1e1; }
.consultcell{}




.cTitle{padding:0px; font-weight:bold; display:block; margin:0px;}
.cNotes{padding:0px;display:block; margin:0px;}

.icdTitle{padding:0px; font-weight:bold; display:block; margin:0px; text-decoration:underline}
.icdNotes{padding:0px;display:block; margin:0px;}

.icdtbl{width:100%; border-collapse:collapse;}
.icdtbl > tbody > tr > td{padding:3px 5px;}
.icdtbl > tbody > tr.icdHeader{ font-weight:bold;}


.icdtbl > tbody > tr > td.icd1{width:30px;}
.icdtbl > tbody > tr > td.icd2{}
.icdtbl > tbody > tr > td.icd3{}
.pdetails {border: 1px solid #e1e1e1; padding:5px;}
.pdetails > table{}
.pdetails > table td					{padding: 0 0 2px 5px; vertical-align:text-bottom;}
.txtlbl,.col					{font-weight:bold;}
.pdetails > table tr > td:nth-child(1)	{width:80px}
.pdetails > table tr > td:nth-child(2)	{width:5px}
.pdetails > table tr > td:nth-child(3)	{width:auto}
.pdetails > table tr > td:nth-child(4)	{width:100px}
.pdetails > table tr > td:nth-child(5)	{width:5px}
.pdetails > table tr > td:nth-child(6)	{width:155px}
.pdetails > table tr > td:nth-child(7)	{width:80px}
.pdetails > table tr > td:nth-child(8)	{width:5px}
.pdetails > table tr > td:nth-child(9)	{width:120px}

.tdnote{ padding:5px 0 10px 0; }
.signature{padding:15px 0 20px 0;}
.signdocs{float:right; margin-left:15px;}
.signdocs > span{display:block;}
.signdocs > img{height: 40px;}
.mofficer{float:left; }
.rgo{float:left; margin-left:15px; }
.printDetails{ margin-bottom:10px;}
.printDetails > div{width:33.3%; float:left;}
.printDetails > div:nth-child(2){ text-align:center;}
.printDetails > div:nth-child(3){float:right; text-align:right;}


td.Investblock{ border-bottom:1px solid #e1e1e1;}
td.Investblock > .investigationtbl > tbody > tr.InvestHeader{border-top:1px solid #e1e1e1;}
td.Investblock > .investigationtbl > tbody > tr > td.InvestDt{border-top:1px solid #e1e1e1;}
td.Medicblock{ border-bottom:1px solid #e1e1e1;}
.medicationtbl{border-bottom:1px solid #e1e1e1;}
.medicationtbl > tbody > tr.MedicHeader{border-top:1px solid #e1e1e1; }
.medicationtbl > tbody > tr > td.MedicDt{border-top:1px solid #e1e1e1;}

.tdcol{border-bottom:1px solid #e1e1e1;}
.icdtbl{border-bottom:1px solid #e1e1e1;}
.icdtbl > tbody > tr.icdHeader{border-top:1px solid #e1e1e1;}
 table.dyntbl{page-break-inside:auto;}
 table.dyntbl tr{page-break-inside:avoid;page-break-inside:auto;}
 
 
 
 #Chdrdept{display:none;}
 
